@charset "UTF-8";
/* příklad
@mixin grid($columns-number, $gap-size: 20px){
    display: grid;
    grid-template-columns: repeat($columns-number, 1fr);
    gap: $gap-size;
}
*/
.menu {
  text-align: end;
  display: block;
  background-color: #35A7FF;
  font-size: 26px;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #35A7FF;
}
.menu__item {
  font-size: 20px;
  border-bottom: 1px solid white;
  text-align: center;
}
.menu__item--first {
  border-top: 1px solid white;
}
.menu__link {
  display: block;
  padding: 10px;
  color: #1B2021;
  text-decoration: none;
}
.menu__link:hover, .menu__link:focus, .menu__link:active {
  background-color: #c2e4ff;
}
.menu--secondary {
  margin: 30px;
}
.menu__list--secondary {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.menu__item--secondary {
  background-color: #D2D6DA;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
}
.menu__item--secondary:hover, .menu__item--secondary:focus, .menu__item--secondary:active {
  background-color: #c2e4ff;
}
.menu__item--knihy {
  background-color: #c2e4ff;
}
.menu__link--secondary {
  font-size: 20px;
  color: #1B2021;
}
.menu__toggler {
  display: block;
  text-align: center;
  font-size: 26px;
}

@media screen and (min-width: 768px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex !important;
  }
  .menu__item {
    border-bottom: 0;
    border-right: 1px solid white;
  }
}
.footer {
  display: block;
  font-size: 12px;
  text-align: center;
  background-color: #D2D6DA;
  padding: 10px 0;
  margin: 20px 0px 0px 0px;
}

.form {
  text-align: center;
  /* @include mixins.medium {
      text-align: left;
  }
  */
}
.form__form-field {
  margin-bottom: 20px;
}
.form__label {
  display: block;
  margin-bottom: 5px;
}
.form__input {
  background-color: rgba(53, 167, 255, 0.3);
}

.header {
  margin: 30px;
}
.header__title {
  text-align: center;
  color: #35A7FF;
  font-size: 48px;
}
.header__subtitle {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.info-text {
  overflow: auto;
  margin: 30px;
}
.info-text__title {
  text-align: center;
  font-size: 26px;
}
.info-text__title--left {
  text-align: left;
}
.info-text__picture {
  max-width: 150px;
  border-radius: 30%;
  margin: 15px;
  float: right;
  box-shadow: 1px 1px 10px grey;
}
.info-text__picture--left {
  float: left;
}
.info-text__text--center {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .info-text--flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    margin: 30px;
  }
  .info-text__title {
    flex-basis: 100%;
  }
  .info-text__picture {
    display: flex;
    max-width: 200px;
    flex: 1 0 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info-text__picture--left {
    display: flex;
    max-width: 200px;
    flex: 0 1 50%;
    order: 1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info-text__text {
    flex: 1 0 30%;
  }
}

.form__button {
  width: 100px;
  height: 50px;
  color: #1B2021;
  background-color: #35A7FF;
  border-radius: 5px;
}

.section-divider {
  display: flex;
}
.section-divider__line {
  border-radius: 5px;
  max-width: 500px;
  height: 8px;
  background-color: #35A7FF;
  flex: 0 1 60%;
  justify-content: center;
  margin: auto;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: white;
  color: #1B2021;
  line-height: 1.8;
  padding: 0px;
  margin: 0px;
}/*# sourceMappingURL=main.css.map */