@use "utils/mixins";
@use "utils/variables";

@use "layout/navigation";
@use "layout/footer";
@use "layout/forms";
@use "layout/header";
@use "layout/base";
@use "layout/layout-with-aside";


@use "components/blocks";
@use "components/small-parts";


body{
    font-family: variables.$font-base;
    font-size: variables.$font-size__default;
    background-color: variables.$background-color__body;
    color: variables.$font-color;
    line-height: 1.7;
    padding: 0px; 
    margin: auto;
}

.wrapper{
    background-color: variables.$background-color__primary;
    border-radius: 15px;
    max-width: 1030px;
    margin:auto;
    margin-top: 0;

}

