

$font-base: Helvetica, Arial, sans-serif;
$font-special: Verdana, Geneva, Tahoma, sans-serif; 
$font-size__h1: 48px;
$font-size__h2: 30px;
$font-size__h3: 26px;
$font-size__h4: 20px;
$font-size__default: 16px;
$font-size__small: 12px;


$primary-color: #35A7FF;
$primary-color--lighter:#c2e4ff; 
$secondary-color: #D2D6DA;
$background-color__primary: white;
$background-color__secondary: #f3c3b3;
$font-color: #1B2021;
$font-color--less-important: #9fa3a7;
$color__button--chosen: #A5ADB6;



$spacing: 20px; //padding, margin
$margin__component: 20px 30px 20px 30px;

