
<aside class="aside main-aside__aside">
    
        <img class="aside__image aside__image--1" src="/images/man-ladder.jpg" alt="muž lezoucí po žebříku a dívající se dalekohledem na vzdálené hory" class="aside__image">
        <img class="aside__image aside__image--2" src="/images/woman-with-a-dog.jpg" alt="" class="aside__image">
        <img class="aside__image aside__image--3" src="/images/man-reading.jpg" alt="" class="aside__image">
    

</aside>