

<nav class="menu">

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">    
    <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>

    <ul class="menu__list menu__list-animated">
            <li class="menu__item menu__item--first"><a href="/" class="menu__link">Úvod</a></li>
            <li class="menu__item"><a href="/inspirace/" class="menu__link">Inspirace</a></li>
            <li class="menu__item"><a href="/komunita/" class="menu__link">Komunita</a></li>
            <li class="menu__item"><a href="/pruvodce/" class="menu__link">Průvodce</a></li>
        </ul>

</nav>