@use "../utils/variables";



.header{
    margin: 30px;

    &__title{
        text-align: center;
        color: variables.$primary-color;
        font-size: variables.$font-size__h1;
        margin: 15px 15px 0 15px;
    }

    &__subtitle{
        font-size: variables.$font-size__default;
        font-weight: normal;
        text-align: center;
    }
}

.circle{

    display: flex;
    align-items: center;
    margin-top: 15px;

    &--big{
    background-color: variables.$primary-color;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px;
    }

    &--medium{
    background-color: variables.$primary-color;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
    }

    &--small{
        width: 5px;
        height: 5px;
        background-color: variables.$primary-color;
        border-radius: 50%;
        margin: 10px;
    }
}

.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}