@use "../utils/mixins";
@use "../utils/variables";

.menu{
    text-align: end;
    display: block;
    background-color: variables.$primary-color;
    font-size: variables.$font-size__h3;
    

    &__checkbox {
        position: absolute;
        left: -9999px;

        &:checked ~ .menu__list{
            display: block;
        }
    }
    
    &__list {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: variables.$primary-color;
        }
    
    &__item {
        font-size: variables.$font-size__h4;
        border-bottom: 1px solid variables.$background-color__primary;
        text-align: center;

    }

    &__link {
        display: block;
        padding: 10px;
        color: variables.$font-color;
        text-decoration: none;
        &:hover, 
        &:focus,
        &:active {
            background-color: variables.$primary-color--lighter;
        }   
    }

    &--secondary{
        margin: variables.$margin__component;
    }

    &__list--secondary{
        background-color: variables.$background-color__primary;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    &__item--secondary{
        background-color: variables.$secondary-color;
        border-radius: 5px;
        // padding: 5px 15px 5px 15px;
        &:hover, 
        &:focus,
        &:active {
            background-color: variables.$primary-color--lighter;
        }   
    }
    &__item--knihy{
        background-color: variables.$primary-color--lighter;
    }


    &__link--secondary{
        font-size: variables.$font-size__h4;
        color: variables.$font-color;

   
 
    }

    &__toggler{
        display: block;
        text-align: center;
        font-size: variables.$font-size__h3;
    }

}

@include mixins.big {
    .menu__toggler{
        display: none;
    }

    .menu__list{
        display: flex !important;
    }

    .menu__item {   
        border-bottom: 0;
        padding-left: 30px;
        padding-right: 30px;
        border-right: 1px solid variables.$background-color__primary;
        &:hover, 
        &:focus,
        &:active {
            background-color: variables.$primary-color--lighter;
        }   
    }


    .menu__list--secondary{
        gap: 0;
        justify-content: flex-start;
    }

    .menu__item--secondary{
        flex: 1 0 auto;
        border-radius: 0;
        border: 0;
    }
}



// MENU - KOMUNITA

.menu__item--one{
    background-color: variables.$secondary-color;
}

.menu__item--two{
    background-color: variables.$primary-color--lighter;
}