@use "../utils/variables";
@use "../utils/mixins";


.info-text{
    overflow: auto;
    margin: variables.$margin__component;

    &__title{
       
        text-align: center;
        font-size: variables.$font-size__h3;

        &--left{
            text-align: left;
        }
    }

    &__picture{
        max-width: 150px;
        border-radius: 30%;
        margin: 15px;
        float: right;
        box-shadow: 1px 1px 10px grey;

        &--left{
            float: left;
        }
    }

    &__text{
        &--center{
        text-align: center;
        }    
    }
    
    @include mixins.medium {
        &--flex{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: stretch;
        margin: variables.$margin__component;
        }

        &__title{
            flex-basis: 100%;
        }

        &__picture{
            display: flex;
            max-width: 200px;
            flex: 1 0 60%;
            object-fit: cover;


            &--left{
                display: flex;
                max-width: 200px;
                flex: 0 1 50%;
                order: 1;
                object-fit: cover;
            }
        }

        &__text{
            flex: 1 0 30%; 

        }
    }
}