@use "../utils/variables";

.section-divider{
    display: flex;

    &__line{
    border-radius: 5px;
    max-width: 500px;
    height: 8px;
    background-color: variables.$primary-color;
    flex: 0 1 60%;
    justify-content: center;
    margin: auto;
    }
}


