---
layout: layouts/main.njk
---



    <div>

        <main>

        {{content | safe}}

        {% include "partials/menu--secondary.njk" %}

        </main>

        <aside class="aside">
            <img src="/images/banner.jpg" alt="">
        </aside>

    </div>